/* CSS styles for STUDYPORTAL */

/* Sivun taustaväri yms. */
body
{

}

/* Sisällön rajaava alue */
#wrapper
{
	margin: 0 auto;
	background-color: #CCCCCC;
	width: 960px;
	height: 600px;
}

#nav
{
	background-color: #999999;
	width: 760px;
	height: 100px;
	float: left;
}

.insertuser
{
	width: 300px;
	height: auto;
	background-color: #999999;
	float: left;
}

#userinfo
{
	float: right;
	background-color: #666666;
	width: 200px;
	height: 100px;
}

/* Styles for login box */
#login
{
	background-color: #999999;
	width: auto;
	height: auto;
	padding: 10px;
	float: left;
	margin-top: 150px;
	margin-left: 200px;
}

#groups
{
	padding: 10px;
	background-color: #666666;
	width: 320px;
}

#courses
{
}

#calendar
{
}

#messages
{
}

#notifications
{
}

#polls
{
}
